.book-btn{
    width: 100%;
    background-color: antiquewhite;
    padding: 0.75rem 0;
    // margin-top: 2rem;
    background-color: #D14800;
    border: none;
    color: white;
}
.see-menu-btn{
    width: 100%;
    background-color: antiquewhite;
    padding: 0.75rem 0;
    margin-top: 0.25rem;
    background-color: rgb(79, 77, 77);
    border: none;
    color: white;
}

.book-btn:hover {
    box-shadow: 0px 3px 8px #f08c56;
  }

.decrease-increase-btn{
    position: absolute;
    background: none;
    border: none;
    color:gray;
    font-size:x-large;
    font-weight: 400;
    top: 40%;
    z-index: 9;
}

.increase-btn{
    left: 90%;
    
}
.decrease-btn{
    left: 0;
}