
.card-container {
    @include flex-center;
    border: 1px solid #8D8D8D;
    background:$darkbrown ;
    width: 60%;
    margin: 2rem auto;
    color: white;
    height: 550px;

  }
  
  .card-content {
    h2 {
      margin-bottom: 10px;
        @include highlighted-underline(left,6%);
    }
  }
  
  .card-image
  {
  
   img {
    z-index: 1000;
    object-fit: contain;    
  }
}

  @include mq($from:desktop-large){
      .card-container{
        .card-content {
          width: 45%;
          margin-left: 3rem;
          h2 {
            margin-bottom: 10px;
              @include highlighted-underline(left,1rem);
          }
        }
        
        .card-image
        {
          text-align: right;
          margin-top: 4rem;
          width: 55%;
          margin-right: 3rem;
        
         img {
          z-index: 1000;
          object-fit: contain;
          width: 70%;
          
        }
      }
        
      }
  }
  
  @include mq($from:tablet-small , $until:desktop-large) {
   .card-container {
    width: 90%;
      flex-direction: column;
      height: 100vh;
    
    }
    .card-content{
      height: 50%;
      padding: 0 2rem;
      padding-top: 3rem;
      padding-bottom: 0.5rem;
      p{
        margin-top: 2rem;
      }
        h2{
            text-align: center;
            @include highlighted-underline(center,48%);
        }
    }
    .card-image {
      text-align: center;
      width: 80%;
       height: 55%;
       margin-top: 0;
       img{
        width: 100%;
        height: 500px;
       }
     }
    
  }

  
  @include mq($from:mobile , $until:tablet-small) {
    .card-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0 0;
    }
    .card-content{
        margin: 1rem ;
        text-align: center;
        h2{
            @include highlighted-underline(center,8.5rem);
        }
    }
    .card-image{
        margin-top: 1rem;
        img{
          width: 100%;
          height: 350px;
          padding-bottom: 2rem;
        }
    }
    
  }
  