.form-banner{
    background-image: url('../../../images/banner10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin-top: 6rem;

    .form-banner-content{
        display: flex;
        justify-content: space-evenly;
        color: white;
    }
    .form-card{
    width: 25%;
    padding:2rem;
    border: 1px solid #8D8D8D;
    background: #181110;
    color: #ffff;
    margin-top: -2.5rem;
    }
}
.form{
    max-width: 400px;
    margin: 1rem;
}
.form-items{
    margin: 0 auto;
    margin-bottom: 1rem;
}

.form-title{
    width: 354px;
    h1{
        @include highlighted-underline(left,1rem);
      }
}

.form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-bottom: 6px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-input {
  width: 96%;
    padding: 12px 6px;
    border: 1px solid #e0e0e0;
    background: rgba(255, 255, 255, 0.10);
    font-weight: 500;
    font-size: 16px;
    color: gray;
    outline: none;
    resize: none;
    position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator ,
    input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.custom-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: gray;
    margin-right: 0.25rem; 
    position: absolute;
    right: 0.25rem;
}
.date::before{
    content: "\f073";
}
.time::before{
    content: "\f017";
}
.form-input:focus {
  border-color: #4c4c4e;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.numeric-input{
    position: relative;
    input{
        text-align: center;
    }
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

@include mq($from:tablet-small , $until:desktop-small){
    .form-banner-content{
        flex-direction: column;
        align-items: center;

        .form-card{
            width: 50%;
            margin-top: 0;
    }
}
.form-title{
    h1{
        @include highlighted-underline(center,6rem);
      }
}
}

@include mq($from:mobile , $until:tablet-small){
    .form-banner-content{

        flex-direction: column;
        align-items: center;

        .form-card{
            width: 100%;
            padding:0;
            margin-top: 0;
    }

    
    .form{
        max-width: 300px;
        margin: 2rem auto;
    }
}
.form-title{
    width: 300px;
    text-align: center;
    h1{
        @include highlighted-underline(center,8rem);
      }

}
}   