@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space{
  display: flex;
  justify-content: space-between;
  align-items: center
}

.menu-list{
    border: 1px solid #8D8D8D;
    background: #181110;
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    color: white;
    .menu-header{
        @include flex-space;
        border-bottom:none;
        text-decoration: none;
        color: white;
        margin: 3rem;

       
            a{
                color: white;
                text-decoration-line:none
            }
            h1{
                @include highlighted-underline(center,2rem);
              }
              .menu-tab a.active {
                color: #D14800;
            }
    }

   .tab-content{
   ul{
    margin: 3rem;
   }
   li{
        border-bottom: 1px solid #8D8D8D;

    }
    li:last-child{
        border-bottom: none;
    }}
    .menu-item{
        @include flex-space;
        color: gray;
    
    }
    
    .tab-content {
        ul{

            display: none;
            padding-left: 0;
        }
    }

    .tab-content  {
        ul.active{

            display: block;
        }
    }
  }


  @include mq($from:desktop-large)
  {
    .menu-list{
        width: 60%;
        .menu-header{
        }
    }
  }

@include mq($from:tablet-small , $until:desktop-small){
    .menu-list{
        width:90%;
        .menu-header{
          flex-direction: column;
          align-items: center;
          h1{
            @include highlighted-underline(center,5rem);
          }
        }
        .menu-tab{
          ul{
            flex-direction: column;
            align-items: center;
            padding-left: 0;

          }
          .tab-content{
            ul{
                margin: 1rem;
            }
          }
          
        }
        .menu-item{
            gap:1rem
        }
    
}
}
  @include mq($from:mobile , $until:tablet-small){
    .menu-list{
        width:100%;
        text-align: center;
        margin-top: 2rem;
        .menu-header{
          flex-direction: column;
          align-items: center;
          h1{
            @include highlighted-underline(center,5rem);
          }
        }
        .menu-tab{
          ul{
            flex-direction: column;
            align-items: center;
            padding-left: 0;

          }
        }
        .menu-item{
            flex-direction: column;
            color: gray;
            padding-bottom: 0.5rem;
        }
     
    }
 
  }

