.slider-container {
    background-color: #b72913;;
    border: 1px solid #8D8D8D;
    width: 60%;
    margin: 9rem auto;
    color: #fff;
    text-align: left;

    h1 {
        margin-bottom: 20px;
        text-align: center;
        color: #fff;
    }

    .slider {
        .slider-cell {
         
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            height: 700px;  
            width: 100%;

            .slider-title{
                width:100%;
                display: flex;
                justify-content: space-around;
            }

            .slider-content{
                display: flex;
                justify-content: space-between;
                align-items: center;

            }


            img {
                max-height: 100%; 
                margin-right: 20px;
                width: 55%;
                height: 50%;
            }

            .dish-info {
                flex: 1;
                width: 45%;

                .likes {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 5px 10px;
                    border-radius: 5px;
                    span {
                        color: #fff;
                    }
                }

                h2 {
                    margin: 0 0 10px 0;
                    color: #e67e22;
                }

                p {
                    margin: 5px 0;
                    color: #fff;
                }

                .price {
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }

    .slider-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .prev, .next {
            cursor: pointer;
            font-size: 20px;
            color: #e67e22;
        }

        .slide-number {
            font-size: 16px;
        }
    }
}
@include md{
    .slider-container{
        .slider{

            .slider-cell{
    .slider-title{
        width:100%;
        flex-direction: column;
        align-items: center;
    }

    .slider-content{
        flex-direction: column;
        align-items: center;

    }
    img{
        margin-right: 0;
    }
    .dish-info{
        width: 90%;
        text-align: left;

    }
}
        }
    }
}

@include sm{
    .slider-container{
        .slider{

            .slider-cell{
        
                .slider-title{
                    width:100%;
                    flex-direction: column;
                    align-items: center;
                }
            
                .slider-content{
                    flex-direction: column;
                    align-items: center;
            
                }
                img{
                    margin-right: 0;
                }
                .dish-info{
                    width: 90%;
                    text-align: center;
            
                }
            }
        }
        }
    }