.slider-container {
    background-color: #181110;
    border: 1px solid #8D8D8D;
    width: 60%;
    margin: 2rem auto;
    color: #fff;
    text-align: left;

    h1{
        @include highlighted-underline(left,2rem);
      }

    .slider {
        margin: 3rem;
        .slider-cell {
         
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 100%;

            .slider-title{
                width:100%;
                display: flex;
                justify-content: space-between;
            }

            .slider-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;

            }


            img {
                margin-right: 20px;
                width: 55%;
                height: 100%;
            }

            .dish-info {
                flex: 1;
                width: 45%;

                .likes {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 5px 10px;
                    border-radius: 5px;
                    span {
                        color: #fff;
                    }
                }

                h2 {
                    margin: 0 0 10px 0;
                    color: white;
                }

                p {
                    margin: 5px 0;
                    color: #fff;
                }

                .price {
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }

    .slider-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .prev, .next {
            cursor: pointer;
            font-size: 20px;
            color: #e67e22;
        }

        .slide-number {
            font-size: 16px;
        }
    }
}
@include mq($from:desktop-small ,$until:desktop-large){

    .slider-container{
        width: 90%;
    }
}

@include mq($from:tablet-small , $until:desktop-small){
    .slider-container{
            width:90%;
            margin: 2rem auto;

        .slider{
            .slider-cell{
    .slider-title{
        width:100%;
        flex-direction: column;
        align-items: center;
        h1{
            @include highlighted-underline(center,8rem);
          }
    }

    .slider-controls{
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .slider-content{
        flex-direction: column;
        align-items: center;

    }
    img{
        margin-right: 0;
        width: 90%;
    }
    .dish-info{
        width: 90%;
        text-align: left;
        margin-top: 3rem;
        max-height: 230px;


    }
}
        }
    }
}

@include mq($from:mobile , $until:tablet-small){
    .slider-container{
        width: 100%;
        margin: auto;
        margin-top: 2rem;

        .slider{
                margin: 0;
            .slider-cell{
                left:0.47rem;

                .slider-title{
                    width:100%;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        @include highlighted-underline(center,8rem);
                      }
                }
               
                .slider-controls{
                    margin-top: 0;
                    margin-bottom: 1rem;
                }

                .slider-content{
                    flex-direction: column;
                    align-items: center;
            
                }
                img{
                    margin-right: 0;
                    width: 95%;
                }
                .dish-info{
                    width: 84%;
                    text-align: center;
                    margin-top:1rem;
            
                }
            }
        }
        }
    }