.slider-container {
    background-color: $darkbrown;
    border: 1px solid #8D8D8D;
    width: 60%;
    margin: 2rem auto;
    color: #fff;
    text-align: left;

    h1{
        @include highlighted-underline(left,5rem);
        padding: 0 3rem;
        padding-bottom: 0.5rem;

      }

    .slider {
        margin: 0 3rem;
        margin-bottom: 2rem;
        .slider-cell {
         
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 100%;

            .slider-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;

            }


            img {
                margin-right: 20px;
                width: 55%;
                height: 100%;
            }

            .dish-info {
                flex: 1;
                width: 45%;

                .likes {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 5px 10px;
                    border-radius: 5px;
                    span {
                        color: #fff;
                    }
                }

                h2 {
                    margin: 0 0 10px 0;
                    color: white;
                }

                p {
                    margin: 5px 0;
                    color: #fff;
                }

                .price {
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }

    .slider-title {
        display: flex;    
        justify-content: space-between;  
        .slider-controls {
          display: flex;
          align-items: center;
      
          button {
            background: none;
            border: none;
            padding: 5px 10px;
            margin: 0 5px;
            cursor: pointer;
            font-size: 14px;
            color: white;
          }
      
          .slide-number {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
          }
          .slide-number span {
            padding: 5px;
            margin: 0 5px;
            cursor: pointer;
          }
          
          .current-slide {
            color: $darkorange; 
            font-weight: bold;
          }
          
          .total-slides {
            color: white; 
          }
          
        }
      }
      
}
@include mq($from:desktop-small ,$until:desktop-large){

    .slider-container{
        width: 90%;
    }
}

@include mq($from:tablet-small , $until:desktop-small){
    .slider-container{
        width: 90%;
        margin: auto;
        margin-top: 2rem;

        .slider-title{
            width:100%;
            flex-direction: column;
            align-items: center;
            h1{
                @include highlighted-underline(center,50%);
              }
        }
       
        .slider-controls{
            margin-top: 0;
            margin-bottom: 1rem;
        }
        .slider{
                margin: 0;
            .slider-cell{
                left:0.47rem;


                .slider-content{
                    flex-direction: column;
                    align-items: center;
            
                }
                img{
                    margin-right: 0;
                    width: 95%;
                }
                .dish-info{
                    width: 84%;
                    text-align: left;
                    margin-top:1rem;
                    padding: 1rem;
            
                }
            }
        }
        }
}

@include mq($from:mobile , $until:tablet-small){
    .slider-container{
        width: 100%;
        margin: auto;
        margin-top: 2rem;
        .slider-title{
            width:100%;
            flex-direction: column;
            align-items: center;
            h1{
                @include highlighted-underline(center,8rem);
              }
        }
       
        .slider-controls{
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .slider{
                margin: 0;
            .slider-cell{
                left:0.47rem;


                .slider-content{
                    flex-direction: column;
                    align-items: center;
            
                }
                img{
                    margin-right: 0;
                    width: 95%;
                }
                .dish-info{
                    width: 84%;
                    text-align: center;
                    margin-top:1rem;
            
                }
            }
        }
        }
    }