.contact-us {
  width: 60%;
  color: white;
  margin-inline: auto;
  text-align: center;
  
  h1{
    @include highlighted-underline(left,1.25rem);
  }
}


.contact-info {
  display: flex;
  justify-content: space-around;

  .contact-item {
      margin: 0 0.25rem;
      display: flex;
      align-items: center;

      i {
          font-size: 1.25rem; 
          margin-right: 0.625rem; 
      }

      p {
          margin: 0;
          color: gray;
      }
  }
}

.map {
  margin: 1.25rem 0;

  iframe {
      width: 100%;
      height: 25rem;
  }
}

.open-hours {  
  h2 {
      margin: 0;
      color: orangered;
      font-size: 0.75rem;
  }

  p {
      font-size: 1rem;
  }
}

footer {
  margin-top: 1.25rem; 
  font-size: 0.875rem;
  color: gray;
  border-top: 0.0625rem solid gray; 
}

@include md {
  .contact-us {
      width: 90%;

      h1{
        @include highlighted-underline(center,6rem);
      }
      }

      .contact-info {
          flex-direction: column;
          align-items: center;

          .contact-item {
              margin: 0.5rem 0;
              flex-direction: column;
              align-items: center;

              i {
                  margin: 0.5rem 0.25rem;
              }
          }
      }
  }

@include sm {
  .contact-us {
      width: 100%;
      h1{
        padding-top: 2rem;
        @include highlighted-underline(center,9rem);
      }

      .contact-info {
          flex-direction: column;
          align-items: center;

          .contact-item {
              margin: 0.5rem 0;
              flex-direction: column;
              align-items: center;

              i {
                  margin: 0.5rem 0.25rem;
              }
          }
      }
  }
}
