// // To enable support for browsers that do not support @media queries,
// // (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// // Create a separate stylesheet served exclusively to these browsers,
// // meaning @media queries will be rasterized, relying on the cascade itself
// $mq-responsive: true;

// // Name your breakpoints in a way that creates a ubiquitous language
// // across team members. It will improve communication between
// // stakeholders, designers, developers, and testers.
// $mq-breakpoints: (
//   mobile: 0px,      
//   tablet: 360px,  
//   desktop: 768px  
// );

// // If you want to display the currently active breakpoint in the top
// // right corner of your site during development, add the breakpoints
// // to this list, ordered by width, e.g. (mobile, tablet, desktop).
// //$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

// mq.scss
@charset "UTF-8";

$mq-base-font-size: 16px !default;
$mq-responsive: true !default;

// Breakpoint list in em
$mq-breakpoints: (
  mobile: 0px,
  tablet-small: 232px,
  tablet-large:344px,
  desktop-small: 615px,
  desktop-large: 918px               
) !default;

$mq-show-breakpoints: (mobile, tablet-small, tablet-large , desktop-small , desktop-large) !default;
$mq-media-type: all !default;

// @if length($mq-show-breakpoints) > 0 {
//   @include mq-show-breakpoints;
// }

